<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:replace="~{fragments/head :: head}"></th:block>

<body>

  <!-- Navbar -->
  <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>

  <main class="my-5">
    <!-- Noticias -->
    <div class="container my-5">
      <h1 class="mb-4 display-3 fw-medium">Últimas noticias sobre Tecnología</h1>
      <p class="text-muted pb-5">Últimas noticias y novedades en tecnología.</p>
      <div class="row row-cols-1 row-cols-md-3 g-4 my-5">
        <div class="col ">
          <div class="card h-100 border-0 shadow">
            <img src="https://picsum.photos/300/200" class="card-img-top" alt="Noticia">
            <div class="card-body">
              <h3 class="card-title mb-3">El fuera de juego semiautomático se estrena en España</h3>
               <a href="#" class="btn text-primary ">Leer más »</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow">
            <img src="https://picsum.photos/300/200" class="card-img-top" alt="Noticia">
            <div class="card-body">
              <h3 class="card-title mb-3">Grok 2 Beta Release</h3>
               <a href="#" class="btn text-primary ">Leer más »</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow">
            <img src="https://picsum.photos/300/200" class="card-img-top" alt="Noticia">
            <div class="card-body">
              <h3 class="card-title mb-3">Google Pixel 9</h3>
              <a href="#" class="btn text-primary ">Leer más »</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <br><br>

  <!-- Footer -->
  <th:block th:replace="~{fragments/footer :: footer}"></th:block>

</body>

</html>
